.playground {
    position: relative;
}

.wrapper {
    position: relative;
    padding: 30px;
}

.header {
    text-align: center;
    font-family: sans-serif;
    color: rgba(37, 37, 37, 0.46);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 30px;
}

.list {
    display: flex;
    position: relative;
}

.item {
    width: 20%;
    height: 200px;
    border: 1px solid #111111;
    padding: 10px;
    margin: 3px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.item:hover {
    background-color: #787373;
}

.item .name {
    text-align: center;
    font-family: sans-serif;
    color: rgba(37, 37, 37, 0.46);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 20px;
}

.item button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {
    display: flex;
}

.description {
    width: 30%;
}

.mapsWrapper {
    padding-top: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    width: 100%;
}

.description__header {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.description__header span {
    color: #F8B200;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data div {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    flex: 20;
}

.actions button {
    margin: 0 5px;
}

.gameWrapper {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Игровые метки на карточке площадки */

@keyframes gameWorkoutDotAnimation {
    0% {
        background-color: #4acd79;
    }
    25% {
        background-color: #84e28f;
    }
    50% {
        background-color: #ecf3ec;
    }
    75% {
        background-color: #0bf10b;
    }
    100% {
        background-color: #4acd79;
    }
}

@keyframes gameWarDotAnimation {
    0% {
        background-color: #725BA5;
    }
    25% {
        background-color: #9186a1;
    }
    50% {
        background-color: #c9c5d0;
    }
    75% {
        background-color: #4c0bc9;
    }
    100% {
        background-color: #725BA5;
    }
}

.gameDot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4acd79;
    animation: gameWorkoutDotAnimation 2s ease-in-out infinite;
    margin-right: 5px;
    cursor: pointer;
}

.gameDot:hover {
    animation: none;
}

.attack {
    animation: gameWarDotAnimation 2s ease-in-out infinite;
    background-color: #725BA5;
}

/*************************************/