.playground {
    position: relative;
}

.wrapper {
    position: relative;
    padding: 30px;
}

.header {
    text-align: center;
    font-family: sans-serif;
    color: rgba(37, 37, 37, 0.46);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 30px;
}

.list {
    display: flex;
    position: relative;
}

.item {
    width: 20%;
    height: 200px;
    border: 1px solid #111111;
    padding: 10px;
    margin: 3px;
    position: relative;
}

.item .name {
    text-align: center;
    font-family: sans-serif;
    color: rgba(37, 37, 37, 0.46);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 20px;
    position: absolute;
}

.item button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {
    display: flex;
}

.description {
    width: 30%;
}

.maps {
    width: 70%;
}

.description__header {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.description__header span {
    color: #F8B200;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data div {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    flex: 20;
}

.actions button {
    margin: 0 5px;
}