.header {
    display: flex;
    padding: 40px;
    position: relative;
}

.avatar {
    max-width: 300px;
    cursor: pointer;
    transition: .3s;
}

.avatar:hover {
    transition: .3s;
    background-color: #787373;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
}

.login {
    color: #F8B200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.89);
    font-size: 50px;
}

.team {
    color: rgba(255, 255, 255, 0.86);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    font-size: 50px;
    display: flex;
    align-content: center;
}

.team img {
    width: 100px;
    margin-right: 20px;
}

.playground {
    display: flex;
    color: #111111;
    font-size: 36px;
}

.playground img {
    width: 50px;
    margin-right: 20px;
}
