.changePhoto {
    position: absolute;
    bottom: -50px;
}
.changePhoto input {
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: rgba(250, 245, 245, 0.68);
    color: black;
    transition: 0.3s all;
    z-index: 1;
    min-width: 300px;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-around;
}

.buttonsWrapper button {
    cursor: pointer;
}

.closePopup {
    background-color: #F8B200;
    cursor: pointer;
}