.header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #53b0a5;
    padding: 6px;
}

.header a {
    color: #09f1e6;
    transition: .3s;
    height: 100%;
}

.header a:hover {
    background-color: #09f1e6;
    color: black;
}