.header {
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    width: 100%;
    transition: .3s;
    justify-content: space-between;
}

.abs {
    position: fixed;
    background-color: black;
    transition: .3s;
    z-index: 1;
}

.logo {
    width: 20%;
    height: 100%;
}

.logo a {
    height: 100%;
    background: url(./../../img/logo.png) no-repeat center;
    background-size: contain;
    display: block;
    margin-top: 20px;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: rgba(37, 37, 37, 0.46);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 25px;
    transition-duration: 0.33s;
    display: block;
}

.navbar a:hover {
    color: rgba(248, 178, 0, 0.39);
}

.navbar .active:hover {
    color: #F8B200;
}

.navbar .active {
    color: #F8B200;
}

.authorization {
    display: flex;
    width: 20%;
    justify-content: center;
}

.authorization a {
    text-decoration: none;
    color: #F8B200;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    font-size: 20px;
}


.login {
    color: #F8B200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    padding-right: 20px;
}

.button {
    font-size: 20px;
    background: #725BA5;
    border-radius: 10px;
    border: none;
}